html,
body {
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 20px;
  color: var(--text);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--link);
}

h1,
h2 {
  line-height: 35px;
  color: var(--link);
}

h3,
h4,
h5,
h6 {
  line-height: 35px;
  color: var(--text);
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

p {
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--background);
  overflow: hidden;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*........HEADER....... */
.header {
  width: 100%;
  z-index: 50;
}

.header-content {
  display: flex;
  align-items: center;
  min-height: 80px;
  justify-content: start;
}

.header-logo {
  font-size: 26px;
  font-weight: bold;
  margin: 0 80px 0 80px;
  padding: 10px;
}

/*........NAVBAR....... */
.navbar {
  margin: 0 40px 0 40px;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.navbar-item {
  margin: 0 50px 0 0;

}

.navbar-link {
  color: var(--color-text);
  line-height: 2;
}

/*........SIDE_BLOCK....... */
.info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 15px;
  word-break: break-word;
}

.left-info {
  background: var(--gradient-aside);
  flex-basis: auto;
}

@media (min-width: 992px) {
  .left-info {
    flex-basis: 300px;
  }

}

.right-info {
  flex: 1;

}

.box {
  background-color: var(--gray-darker);
  padding: 20px;
}

.info-item {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 10px;
  flex: 1;

}

.icon-contact {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--link);
  align-items: center;
  justify-content: center;
}

/* .icon-skills {
  display: flex;
  width: 40px;
  height: ;
  background: var(--gray-darker);
  align-items: center;
  justify-content: center;
} */



.info-title {
  color: var(--gray-light);
  font-size: 12px;
  width: 70px;

}

.bio-image {
  /* vertical-align: middle; */
  border-radius: 50%;
  width: 130px;
}

.main-information {
  display: flex;
  flex-direction: row;


}

@media (max-width: 960px) {
  .main-information {
    flex-direction: column;
  }
}

.item-experiece {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info-block code {
  font-size: 10px;
}
















/*........TEXT...... */
.text-outfit {
  line-height: 10px;

}

.text-decoration {
  font-size: 24px;
}

/*........COLORS_PROJECT....... */
:root {
  --text: #e2e6ee;
  --link: #0789b1;
  --background: #232339;
  --gray-light: #acb1c3;
  --gray-darker: #534E63;
  /* --color-aside: black; */

  --gradient-aside:
    radial-gradient(circle at 50% 0,
      rgb(17, 10, 49),
      rgba(255, 0, 0, 0) 70.71%),
    radial-gradient(circle at 6.7% 75%,
      rgb(0, 0, 2),
      rgba(0, 0, 255, 0) 70.71%),
    radial-gradient(circle at 93.3% 75%,
      rgb(3, 7, 56),
      rgba(0, 255, 0, 0) 70.71%) beige;
  border-radius: 50%;
}

.line {
  height: 1px;
  width: 100%;
}