html,
body {
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 20px;
  color: var(--text);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--link);
}

h1,
h2 {
  line-height: 35px;
  color: var(--link);
}

h3,
h4,
h5,
h6 {
  line-height: 35px;
  color: var(--text);
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

p {
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--background);
  overflow: hidden;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*........HEADER......................*/
.header {
  
  z-index: 50;
  background-color: var(--header);
  padding: 10px;
}

.header-content {
  display: flex;
  align-items: center;
  min-height: 80px;
  justify-content: space-between;
}

.header-logo {
  font-size: 26px;
  font-weight: bold;
  margin: 0 100px;
  padding: 10px;
}

/*........NAVBAR......................*/
.navbar {
  margin: 0 10px;
  font-size: 22px;
 
  
  
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  
}
.navbar-item {
  margin: 0 50px 0 0;
  padding: 10px;

}

/* .navbar-link {
  color: var(--color-text);
} */

/*........MAIN......................*/
.main-information {
  display: flex;
  flex-direction: row;
  align-items: start;
  
  
}

@media (max-width: 992px) {
  .main-information {
    flex-direction: column;
  }
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 15px;
  word-break: break-word;
  max-width: 100%;
  
}

/*........LEFT......................*/
.left-info {
  background: var(--gradient-aside);
  
  
}

@media (min-width: 990px) {
  .left-info {
    flex-basis: 350px;
  }

}

.info-item {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 10px 0px;
  justify-content: flex-start;
}

.icon-contact {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--link);
  align-items: center;
  justify-content: center;
}

.info-title {
  color: var(--gray-light);
  font-size: 16px;
  
}

.bio-image {
  /* vertical-align: middle; */
  border-radius: 100%;
  width: 150px;
}

/*........RIGHT.....................*/

.right-info {
  flex: 1;
}

.box-right {
  background-color: var(--gray-darker);
  padding: 15px;
  
  
  
}


.skill {
  padding: 0px 10px;
  font-size: 18px;
  width: 100px;

}

.info-block code {
  font-size: 10px;
}

/*........Footer.....................*/
.footer {
  display: flex;
  flex-direction: row;
  min-height: 150px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header);
  
  
}
.footer-item {
  flex-basis: auto;
  margin: 10px;
  padding: 10px;
  width: 150px;
  align-items: center;
  
}



/*........TEXT.....................*/
.text-outfit {
  line-height: 10px;
}

.copyright {
  text-align: center;
}

.text-decoration {
  font-size: 24px;
}

.line {
  height: 1px;
  width: 100%;
}

.link-animate {

  border-bottom: solid 5px var(--header);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

/*........COLOR....................*/
:root {
  --text: #e2e6ee;
  --link: #0789b1;
  --header: #70e0e0;
  --background: #232339;
  --gray-light: #acb1c3;
  --gray-darker: #534E63;

  /* --color-aside: black; */

  --gradient-aside:
    radial-gradient(circle at 50% 0,
      rgb(17, 10, 49),
      rgba(255, 0, 0, 0) 70.71%),
    radial-gradient(circle at 6.7% 75%,
      rgb(0, 0, 2),
      rgba(0, 0, 255, 0) 70.71%),
    radial-gradient(circle at 93.3% 75%,
      rgb(3, 7, 56),
      rgba(0, 255, 0, 0) 70.71%) beige;
  border-radius: 50%;
}


/* .to-top {
  position: fixed;
  color: var(--text);
  background-color: var(--gray-light);
  right: 400px;
  bottom: 0px;
  padding: 10px;
  cursor: pointer;
  display: none;

}

.to-top:hover {
  background-color: #acb1c3;
} */